html,
body,
header,
main,
table,
tbody,
tr,
ul {
  width: 100%;
}
html {
  max-width: 700px;
}
html,
body,
table,
tbody {
  height: 100%;
}
header {
  background-color: #2453e1;
  color: #fff;
  min-height: 48px;
  height: 15%;
  max-height: 48px;
  vertical-align: middle;
}
header h1,
header div {
  float: left;
  height: 50%;
}
header h1 {
  padding: 0 10px;
}
#toolbar {
  display: flex;
  flex-flow: row nowrap;
  clear: left;
  height: 50%;
}
#toolbar li {
  flex: 1 1 24px;
  color: #e4e5e8;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  background-color: #2453e1;
  height: 24px;
  line-height: 24px;
}
#toolbar li select {
  height: 24px;
}
#toolbar li:hover {
  background-color: #848da5;
}
.modeChange {
  background-color: #4e4f54;
}
.modeChange:hover {
  background-color: #6a7cb1;
}
main {
  height: 624px;
  max-height: 85%;
  clear: left;
}
table {
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
}
tbody {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
tr {
  flex: 1 1 24px;
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid #000000;
}
tr:first-child {
  flex: 0 0 24px;
}
th,
td {
  flex: 1 1 24px;
  border-right: 1px solid #000000;
  -webkit-user-select: none;
}
th {
  background-color: #ccc;
  text-align: center;
}
.sunday {
  background-color: #ffaaaa;
}
.saturday {
  background-color: #aaaaff;
}
.selectDay {
  background-color: #aaffaa;
}
.otherMonth {
  color: #999;
}
