#toolbar {
  background-color: #2453e1;
  height: 1.5em;
  a {
    color: #e4e5e8;
    display: block;
    float: left;
    text-decoration: none;
    text-align: center;
    width: 6em;
  }
  a:hover {
    background-color: #848da5;
  }
}

.modeChange {
  background-color: #4e4f54;
}
.modeChange:hover {
  background-color: #6a7cb1;
}

div {
  clear: left;
}

table {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  margin: 20px;
}
tr {
  border-bottom: 1px solid #000;
}
th, td {
  border-right: 1px solid #000;
  width: 3em;
}
th {
  background-color: #ccc;
  text-align: center;
}
td {
  height: 3em;
}
th:first-child, td:first-child{
  background-color: #ffaaaa;
}
th:last-child, td:last-child{
  background-color: #aaaaff;
}
.month td p, .week td p{
  color: #999;
}

