#toolbar {
  background-color: #2453e1;
  height: 1.5em;
  li {
    color: #e4e5e8;
    display: block;
    float: left;
    text-decoration: none;
    text-align: center;
    width: 6em;
    cursor: pointer;
    -webkit-user-select: none;
  }
  li:hover {
    background-color: #848da5;
  }
}

.modeChange {
  background-color: #4e4f54;
}
.modeChange:hover {
  background-color: #6a7cb1;
}

div {
  clear: left;
}

#calendar {
  width: 700px;
  height: 625px;
  margin: 15px;
}

table {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

tr {
  border-bottom: 1px solid #000;
}
th, td {
  border-right: 1px solid #000;
  width: 100px;
  -webkit-user-select: none;
}
th {
  background-color: #ccc;
  text-align: center;
}
.month td{
  height: 100px;
}

.week td {
  height: 600px;
}

.day td {
  width: 700px;
  height: 600px;
}
tbody tr .selectday {
  background-color: #aaffaa;
}
td:first-child{
  background-color: #ffaaaa;
}
td:last-child{
  background-color: #aaaaff;
}
.month td p, .week td p{
  color: #999;
}

.day {
  th {
    background-color: #ccc;
  }
  td {
    background-color: #fff;
  }
}


